.container {
    display:flex;
    background-color: beige;
    align-items: center;
    justify-content: space-around;
}
.one{
    padding: 20px;
    background-color:rgb(226, 140, 35);
    border: 4px solid;
}
.two{
    padding: 20px;
    background-color:aqua;
    border: 4px solid;
}
.three{
    padding: 20px;
    background-color: violet;
    border: 4px solid;
}